<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/wiki">Wiki</a></li>
  <li><a href="{{ root_url }}/developers">Developers</a></li>
  <li><a href="{{ root_url }}/download">Download</a></li>
  <li><a href="{{ root_url }}/blog/archives">Tricks</a></li>
  <li><a href="{{ root_url }}/api">API</a></li>
  <li><a href="https://www.owasp.org/index.php/OWASP_ZSC_Tool_Project">OWASP Page</a></li>
  <li><a href="mailto:Ali[dot]Razmjoo[at]Owasp[dot]Org">Contact</a></li>
</ul>
